######## Description of file function

In [1]:
######## Import libraries
import pandas as pd
import numpy as np
import csv

In [36]:
##### display settings
pd.set_option('display.max_columns', None)

We will divide working with notebook into two seperate explortations. First of all I will focus on exploration and investigation of atp matches in the main draw of the tournament, as this is main object of interest.

At the latter steps we will investig

# exploration of data

#### verification if files have the same column names, letting them to be unioned

###### atp_matches columns convergence check

In [2]:
df = pd.read_csv('results/atp_matches_1968.csv')

In [3]:
list_of_colums = list(df.columns)

In [4]:
for file in range(1969,2025):
    examined_year = pd.read_csv(f"results/atp_matches_{file}.csv")
    if list_of_colums == list(examined_year.columns):
        pass
    else:
        print(f"Year = {file} - have different columns")

In [5]:
# each file have the same structure

In [6]:
###### atp_matches columns convergence check with qualification and challenger matches

In [7]:
for file in range(1978,2025):
    examined_year = pd.read_csv(f"results/atp_matches_qual_chall_{file}.csv")
    if list_of_colums == list(examined_year.columns):
        pass
    else:
        print(f"Year = {file} - have different columns")

In [8]:
# each file have the same structure

In [ ]:
###### creation of 2 table with all historical records. One table for main draw and the second for quallification and challangers

In [15]:
df_main_draw = pd.read_csv('results/atp_matches_1968.csv')
df_main_draw['season'] = 1968
df_main_draw['draw'] = 'main'

for file in range(1969,2025):
    df_next_year = pd.read_csv(f"results/atp_matches_{file}.csv")
    df_next_year['season'] = file
    df_next_year['draw'] = 'main'
    df_main_draw = pd.concat([df_main_draw, df_next_year], ignore_index=True, sort=False)
    
df_main_draw

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,season,draw
0,1968-2029,Dublin,Grass,32.0,A,19680708,270,112411,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968,main
1,1968-2029,Dublin,Grass,32.0,A,19680708,271,126914,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968,main
2,1968-2029,Dublin,Grass,32.0,A,19680708,272,209523,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968,main
3,1968-2029,Dublin,Grass,32.0,A,19680708,273,100084,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968,main
4,1968-2029,Dublin,Grass,32.0,A,19680708,274,100132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968,main
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194991,2024-M-DC-2024-WG2-PO-URU-MDA-01,Davis Cup WG2 PO: URU vs MDA,Clay,4.0,D,20240203,5,212051,NaN,NaN,...,7.0,6.0,8.0,14.0,1109.0,8.0,740.0,34.0,2024,main
194992,2024-M-DC-2024-WG2-PO-VIE-RSA-01,Davis Cup WG2 PO: VIE vs RSA,Hard,4.0,D,20240202,1,122533,NaN,NaN,...,6.0,9.0,1.0,4.0,554.0,67.0,748.0,32.0,2024,main
194993,2024-M-DC-2024-WG2-PO-VIE-RSA-01,Davis Cup WG2 PO: VIE vs RSA,Hard,4.0,D,20240202,2,144748,NaN,NaN,...,7.0,11.0,5.0,12.0,416.0,109.0,NaN,NaN,2024,main
194994,2024-M-DC-2024-WG2-PO-VIE-RSA-01,Davis Cup WG2 PO: VIE vs RSA,Hard,4.0,D,20240202,4,122533,NaN,NaN,...,17.0,14.0,5.0,9.0,554.0,67.0,416.0,109.0,2024,main
194995,2024-M-DC-2024-WG2-PO-VIE-RSA-01,Davis Cup WG2 PO: VIE vs RSA,Hard,4.0,D,20240202,5,202475,NaN,NaN,...,8.0,8.0,9.0,14.0,748.0,32.0,NaN,NaN,2024,main

In [17]:
df_chall_quall= pd.read_csv('results/atp_matches_qual_chall_1978.csv')
df_chall_quall['season'] = 1978
df_chall_quall['draw'] = 'rest'

for file in range(1978,2025):
    df_next_year_chall_quall = pd.read_csv(f"results/atp_matches_qual_chall_{file}.csv")
    df_next_year_chall_quall['season'] = file
    df_next_year_chall_quall['draw'] = 'rest'
    df_chall_quall = pd.concat([df_chall_quall, df_next_year_chall_quall], ignore_index=True, sort=False)
    
df_chall_quall

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,season,draw
0,1978-301,Auckland CH,Hard,32,C,19780108,270,100373,NaN,NaN,...,NaN,NaN,NaN,NaN,232.0,NaN,NaN,NaN,1978,rest
1,1978-301,Auckland CH,Hard,32,C,19780108,271,109807,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978,rest
2,1978-301,Auckland CH,Hard,32,C,19780108,272,109810,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978,rest
3,1978-301,Auckland CH,Hard,32,C,19780108,273,100638,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,332.0,NaN,1978,rest
4,1978-301,Auckland CH,Hard,32,C,19780108,274,107301,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,232.0,NaN,1978,rest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224100,2024-8268,Yokkaichi CH,Hard,32,C,20241125,342,122352,4.0,NaN,...,9.0,10.0,5.0,9.0,409.0,113.0,1073.0,11.0,2024,rest
224101,2024-8268,Yokkaichi CH,Hard,32,C,20241125,341,207987,9.0,NaN,...,10.0,8.0,4.0,8.0,507.0,76.0,860.0,22.0,2024,rest
224102,2024-8268,Yokkaichi CH,Hard,32,C,20241125,340,209951,5.0,NaN,...,8.0,10.0,4.0,10.0,429.0,100.0,708.0,40.0,2024,rest
224103,2024-8268,Yokkaichi CH,Hard,32,C,20241125,338,202113,6.0,NaN,...,23.0,16.0,7.0,12.0,528.0,71.0,894.0,20.0,2024,rest
224104,2024-8268,Yokkaichi CH,Hard,32,C,20241125,337,211774,11.0,NaN,...,7.0,7.0,4.0,8.0,545.0,67.0,NaN,NaN,2024,rest

In [ ]:
##### Data cleaning of table df_main_draw

In [29]:
# I want to see only singles matches
# Deletion of Davis Cup matched

In [30]:
df_main_draw = df_main_draw[df_main_draw['tourney_level'] !='D']

In [31]:
df_main_draw['tourney_level'].unique()

array(['A', 'M', 'G', 'F', 'O'], dtype=object)

In [42]:
# changing date format of some columns
df_main_draw['draw_size'] = df_main_draw['draw_size'].fillna(-1)
df_main_draw['draw_size'] = df_main_draw['draw_size'].astype(int)
df_main_draw['draw_size'] = df_main_draw['draw_size'].astype(str)
df_main_draw['draw_size'] = df_main_draw['draw_size'].replace('-1', np.nan)
df_main_draw['draw_size'].unique()

array(['32', '16', '64', '128', '96', '8', '4', '6', nan, '10', '5', '9',
       '7', '24', '48', '12', '2', '56', '28', '18'], dtype=object)